<h1>Customer Info</h1>

<ul>
    <li>Customer ID: {{customer.id}}</li>
    <li>Email: {{customer.email}}</li>
    <li>First Name: {{customer.firstName}}</li>
    <li>Last Name: {{customer.lastName}}</li>
    <li>Street Address 1: {{customer.street1}}</li>
    <li>Street Address 2: {{customer.street2}}</li>
    <li>City: {{customer.city}}</li>
    <li>State: {{customer.state}}</li>
    <li>Zip Code: {{customer.zip}}</li>
    <li>Birthday: {{customer.birthday}}</li>
</ul>

<button onclick="customer.onEditClick(event)">Edit</button>

<form method="POST" action="/account/{{customer.id}}/update" id="customer-editor" class="customer-editor">
    <h3>Edit customer:</h3>
    <fieldset>
        <label>Email
            <input type="email" name="email" value="{{customer.email}}" required="required">
        </label>
        <label>First name
            <input type="text" name="firstName" value="{{customer.firstName}}" required="required">
        </label>
        <label>Last name
            <input type="text" name="lastName" value="{{customer.lastName}}"required="required">
        </label>
        <label>Birthday
            <input type="date" name="birthdate" value="{{customer.birthdate}}">
        </label>

        <label> Address line 1
            <input type="text" name="street1" value="{{customer.street1}}" required="required">
        </label>
        <label> Address line 2
            <input type="text" name="street2" value="{{customer.street2}}">
        </label>
        <label> City
            <input type="text" name="city" value="{{customer.city}}" required="required">
        </label>
        <label> State
            <select name="state">
                {{#if customer.state}}
                    <option value="{{customer.state}}" selected>{{customer.state}}</option>
                {{/if}}
                {{#each states}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </label>
        <label> Zipcode
            <input type="text" name="zip" value="{{customer.zip}}" required="required" min="10000" max="99999">
        </label>
        
        <button type="submit">Submit</button>
    </fieldset>
</form>