<h1>Order {{order.id}}: {{order.status}}</h1>

<ul class="order-list">
    {{#each orderItems}}
    <li>
        <h2>{{this.name}}</h2> 
        <p>SKU: {{this.sku}}</p>
        <p>QTY: {{this.qty}}</p>
        <p>${{this.price}}</p>
        
    </li>
    {{/each}}
    <li>
        <p class="total">Total: {{this.total}}</p>
    </li>
</ul>

<a href="/orders/{{order.id}}/complete">Place order</a>
