<h1>{{product.name}}</h1>

<ul>
    <li>{{product.sku}}</li>
    <li>{{product.price}}</li>
    <li>{{product.description}}</li>
    <li>{{product.brand}}</li>
    <li>{{product.model}}</li>
    <li>in stock: {{product.stock}}</li>

</ul>

<a href="/cart/{{product.id}}">add to cart</a>