<h1>{{product.name}}</h1>

<ul class="product-detail">
    <li><span>SKU:</span> {{product.sku}}</li>
    <li><span>Price:</span> ${{product.price}}</li>
    <li><span>Description:</span><p>{{product.description}}</p></li>
    <li><span>Brand:</span> {{product.brandName}}</li>
    <li><span>Model:</span> {{product.modelName}}</li>
    <li><span>QTY In Stock:</span> {{product.inStock}}</li>
</ul>

<a href="/cart/{{product.id}}">Add to cart</a>
<button onclick="reviews.onWriteClick(event)">Write review</button>
<button onclick="product.onEditClick(event)">Edit</button>
<a href="/products/{{product.id}}/delete" onclick="return alert('Note: Items will not be deleted if they are in an existing order, so this item may not be deleted!')">Delete</a>

<hr>

<form method="POST" action="/products/{{product.id}}/reviews" id="review-editor" class="review-editor">
    <h2>Leave a review:</h2>
    <fieldset>
        <label>Title
            <input type="text" name="title">
        </label>
        <label>Rating
            <div class="rating-wrapper" onclick="rating.onRateClick(event)">
                <input type="radio" value="1" name="rating" required="required">
                <input type="radio" value="2" name="rating">
                <input type="radio" value="3" name="rating">
                <input type="radio" value="4" name="rating">
                <input type="radio" value="5" name="rating">
                <span id="rating"></span>
            </div>
        </label>
        <label>Comment
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
        </label>
        <input hidden type="" name="pid" value="{{product.id}}">
        <input hidden type="" name="cid" value="{{customer.id}}">
    </fieldset>
    <button type="submit">Submit</button>
</form>

<form method="POST" action="/products/{{product.id}}/update" id="product-editor" class="product-editor">
    <h2>Edit product:</h2>
    <fieldset>
        <label>SKU
            <input type="number" name="sku" value="{{product.sku}}" required="required" min="10000000" max="99999999">
        </label>
        <label>Price
            <input type="number" name="price" value="{{product.price}}" required="required" step=".01" min="0">
        </label>
        <label>Name
            <input type="text" name="name" value="{{product.name}}" required="required">
        </label>
        <label>Description
            <input type="text" name="description" value="{{product.description}}" required="required">
        </label>
        <label>Brand
            <input type="text" name="brandName" value="{{product.brandName}}" required="required">
        </label>
        <label>Model
            <input type="text" name="modelName" value="{{product.modelName}}" required="required">
        </label>
        <label>Qty in stock
            <input type="number" name="inStock" value="{{product.inStock}}" required="required" min="0">
        </label>
    </fieldset>
    <button type="submit">Submit</button>
</form>

<h2>Reviews</h2>
{{#each reviews}}
    <div class="review">
        <p class="name"><span class="face"></span><span class="text">{{this.firstName}} {{this.lastName}}</span></p>
        <h3 class="title">{{this.title}}</h3>
        <div class="rating-result value-{{this.rating}}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p class="body">{{this.body}}</p>
    </div>
{{/each}}
{{#unless reviews}}
    <p>no reviews.</p>
{{/unless}}